header{
    background-color: rgba(255, 255, 255, 0.148);
    padding: 10px 0px;
    height: 75px; 
}

.menubar{
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#title-header{
    color: white;
    font-size: 1.2em;
}

#perfil img {
    width: 60px;
    border-radius: 50%;
}